<h1>Eat-da-Burger!</h1>

<h2>All The Burgers</h2>
<ul>
  {{#each burger_data}}
  <h4>{{this.burger_name}}</h4>
  {{/each}}

</ul>

<h2>Burgers That Were Devoured!</h2>
<ul>
  {{#each burger_data}}
    {{#if devoured}}
      <h4>{{this.burger_name}}</h4>
    {{/if}}
  {{/each}}
</ul>



<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Devoured?</label><br>
    <input type="radio" name="devour" value="1"> Not Devoured!<br>
    <input type="radio" name="devour" value="0"> Devoured
  </div>


  <button type="submit">Burger</button>
</form>
